.body{
    background-color: #7c8286;
}
.TitleText{
color: darkblue;
width: 20%;
font-size: 450%;
top: 0px;
background-color: #d6e3ff;
left: 0%;
border: solid;
padding-right: 5px;
padding-left: 5px;
border-width: 1px;
border-color: darkblue;
position: absolute;
}


.yellow-box {
    background-color: #ffffb4;
    border: 1px solid black;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.green-box {
    background-color: #c4ffb4;
    min-height: 30px;
    text-align: center;
    padding: 3px;
}

.blue-box {
    background-color: #65dae8;
    min-height: 30px;
    padding: 3px;
}
.Solved{
font-size: 60px;
text-decoration: bold;
color: blue;
margin-top: -40%;
border: solid;
padding-right: 20px;
padding-left: 20px;
border-width: 5px;
border-color: blue;
position: absolute;
right: 0%;
}
.speedSolveText{
color: darkblue;
font-size: 25px;
margin-top: -14%;
background-color: #d6e3ff;
left: 0%;
border: solid;
padding-right: 5px;
padding-left: 5px;
border-width: 1px;
border-color: darkblue;
position: absolute;
}
.sizeGridText{
color: darkblue;
font-size: 25px;
margin-top: -6.5%;
background-color: #d6e3ff;
left: 0%;
border: solid;
padding-right: 5px;
padding-left: 5px;
border-width: 1px;
border-color: darkblue;
position: absolute;
}
.Moves{

color: darkblue;
font-size: 25px;
margin-top: -12.5%;
right: 0%;
border: solid;
padding-right: 5px;
padding-left: 5px;
border-width: 1px;
border-color: darkblue;
position: absolute;
}
.SolidMoves{

color: darkblue;
font-size: 25px;
text-decoration: bold;
margin-top: -12.5%;
right: 4%;
position: absolute;

}

.button6{
background-color: #d6e3ff;
margin-top: -23%;
left: 0%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}

.button6:hover {
color: red;
background-color: white;
}
.button5{
background-color: #d6e3ff;
margin-top: -30%;
left: 0%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
padding-right: 77.5px;
padding-left: 77.5px;
padding-top: 14.5px;
padding-bottom:14.5px;
}

.button5:hover {
color: red;
background-color: white;
}
.button4{
background-color: #d6e3ff;
margin-top: -30%;
margin-left: 35%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
padding-right: 22.75px;
padding-left: 22.75px;
}

.button4:hover {
color: red;
background-color: white;
}
.button3{
background-color: #d6e3ff;
margin-top: -20%;
margin-left: 35%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}
.button3:hover {
color: red;
background-color: white;
}
.slider2{
position: absolute;
left: 0px;
margin-top: -4%;
}
.slider{
position: absolute;
left: 0px;
margin-top: -11.5%;
}


.button2{
background-color: #d6e3ff;
margin-top: -25%;
margin-left: 30%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
padding-right: 14.4px;
padding-left: 14.4px;
}

.button2:hover {
color: red;
background-color: white;
}
.button1{
background-color: #d6e3ff;
margin-top: -25%;
margin-left: 40%;
border-width: 4px;
border-color: darkblue;
font-size: 25px;
color: darkblue;
position: absolute;
}
.button1:hover {
color: red;
background-color: white;
}
td {

text-align: center;
border-width: 10px;
Border-style: solid;
vertical-align: middle;
}
table {
    background-color : #777777;  
    color:blue;
    border-color: blue;
    border-style: solid;
    text-align: center;
    margin: 0 auto;
}




.number-item3{
   font-size: 70px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item4{
   font-size: 62px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item5{
   font-size: 54px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item6{
   font-size: 46px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item7{
   font-size: 38px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item8{
   font-size: 30px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item9{
   font-size: 22px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

.number-item10{
   font-size: 14px;
   text-align: center;
   border-style: solid;
   background-color: #d6e3ff;
   border-width: 10px;
   margin-top: 0px;
}

